<!-- override standard styles -->
<style>
    body {
        background-color: white;
    }

    .leaflet-control-graphicscale {
        box-shadow: none;
        -webkit-box-shadow: none;
        white-space: nowrap;
    }

    #legend, #header, #date-time, #scale-box {
        -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
</style>
<!-- map -->
<div id="pane1" style="position: absolute; width: {{printWidth}}; height: {{printHeight}}; display: block; overflow: hidden; top: 30px; left:30px; border: 1px solid black">
    <div id="container1" style="position: relative; width: 200%; height: 200%; left:-50%; top:-50%; display: inline-block;">
        <div id="map"></div>
    </div>
    <div id="header" style="position: absolute; display:block; width: 0px; height: 0px; background-color: white; top: 0px; left: 0px">
        <b id="title" style="position: absolute; top: 10px; left: 10px; background-color:padding: 10px;  white; width: 250px;  white-space: nowrap"></b>
        <p id="comment" style="position: absolute; top: 30px; left: 10px; padding: 10px; padding: 10px;  width: 250px; background-color: white;"></p>

    </div>
        <div id="header" style="position: absolute; display:block; width: 150px; height: 75px; background-color: white; bottom: 0px; left: 0px">
        <p style="position: absolute; bottom: -10px; left: 12px; font-size: 0.8em;">Kortet er vejledende <br> © Frederiksberg Kommune</p>    
    </div>
    <div id="legend" style="position: absolute; top: 5px; right: 5px; padding: 10px; background-color: white; -webkit-transform: scale(0.6); -webkit-transform-origin:right top; display: {{_showLegend}}"></div>
    <div id="scalebar" style="position: absolute; bottom: 50px; left: 0px;"></div>
    <div id="date-time" style="position: absolute; bottom: 35px; left: 12px;font-size: 0.8em;">{{printDataTime}}</div>

</div>
