<style>
   .modal-content {
    box-shadow: 0 27px 24px 0 rgb(0 0 0 / 20%), 0 40px 77px 0 rgb(0 0 0 / 22%);
    border-radius: 2
px
;
    border: none;
    
 
}
 .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
</style>

<div class="modal-content">
<div class="modal-header">Velkommen til Frederiksbergkortet</div>
<div class="modal-body"><img src="https://gis.frederiksberg.dk/iotimage/hurtig_guide_til_test.png" alt="Quickguide" /></div>
</class="modal-body">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default js-close-modal" data-dismiss="modal">Luk</button>
                                    <button type="button" class="btn btn-default js-close-modal-do-not-show" data-dismiss="modal">Luk og vis ikke igen</button>
                                </div>
  </div>
