<style>
@media (min-width: 768px)
.modal-dialog {
    width: 600
px
;
    margin: 30
px
 auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10
px
;
}
div {
    display: block;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
</style>



<div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="startup-message-modalLabel">Besked</h4>
                                </div>
                                <div class="modal-body"><div>Velkommen til Frederiksbergkortet</div></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default js-close-modal" data-dismiss="modal">Luk</button>
                                    <button type="button" class="btn btn-default js-close-modal-do-not-show" data-dismiss="modal">Luk og vis ikke igen</button>
                                </div>
                            </div>
                        </div>
