[data-module-id="stateSnapshots"] {
  display: none;
}
[data-module-id="draw"] {
  display: none;
}


[data-module-id="draw"] {
  display: none;
}


[class="leaflet-bar-part leaflet-bar-part-single js-measurements-control"] {
  display: none;
}


