[data-module-id="stateSnapshots"] {
  display: none;
}
[data-module-id="draw"] {
  display: none;
}


[data-module-id="draw"] {
  display: none;
}


.leaflet-bar-part .leaflet-bar-part-single {
  display: none;
}


.modal-body, .tab-content .tab-pane, .tab-content.main-content {
    height: 100%;
    background-color: #fbfbd9;
}
