[data-module-id="stateSnapshots"] {
  display: inline;
}
#streetView>div>div>div:nth-child(5) {
 display: none;
}

.modal-content {
    -webkit-box-shadow: 0 27px 24px 0 rgb(0 0 0 / 20%), 0 40px 77px 0 rgb(0 0 0 / 22%);
    box-shadow: 0 27px 24px 0 rgb(0 0 0 / 20%), 0 40px 77px 0 rgb(0 0 0 / 22%);
    border-radius: 2px;
    border: none;
    background-color: yellow;
}


.modal-content .modal-header {
    border-bottom: none;
    display: none;
    padding: 24px 24px 0;
}

.modal-content .modal-body {
    padding: 24px 24px 16px;
    font-size: xx-large;
}
.navbar, .navbar.navbar-default {
    background-color: #fffe04;
    color: rgb(0 0 0 / 84%);
    font-weight: bold;
}
#side-panel {
    right: 0;
    border: 0;
    overflow: scroll;
    height: calc(100vh - 30px);
    background-color: #fbfbd9;
}
.modal-body, .tab-content .tab-pane, .tab-content.main-content {
    height: 100%;
    background-color: #fbfbd9;
}

#info-modal, #map, #module-container, #pane, #search-ribbon {
    -webkit-transition: all .5s ease-out;
    background-color:  #fbfbd9;
}
