[data-module-id="stateSnapshots"] {
  display: inline;
}
#streetView>div>div>div:nth-child(5) {
 display: none;
}





[class="rdtPicker" ] {
    margin-right: 0px;
    right: 5px;
}

/* Forsøg på at gøre filteredit større */

[class="where-clause-field" ] {
   textarea {
  height: 150px!important;}
}

.form-group textarea{
  width: 100%;
 height: 150px;
}
where-clause-field .form-group textarea{
  width: 100%;
 height: 150px;
}
