[data-module-id="stateSnapshots"] {
  display: none;
}
[data-module-id="draw"] {
  display: none;
}


[data-module-id="draw"] {
  display: none;
}

/* Fjerner ryd-knappen */
.leaflet-bar .leaflet-control .leaflet-control-custom .leaflet-clear-map{
  display: none;
}

/* En af dem her fjerner målværktøjet */
[class="leaflet-control-measurements"] {
  display: none;
}

.leaflet-bar .leaflet-control .leaflet-control-custom .leaflet-control-measurements{
  display: none;
}

[class="leaflet-bar-part leaflet-bar-part-single js-measurements-control"] {
  display: none;
}
[class="leaflet-bar leaflet-control leaflet-control-custom leaflet-control-measurements"] {
  display: none;
}
