[data-module-id="stateSnapshots"] {
  display: inline;
}
#streetView>div>div>div:nth-child(5) {
 display: none;
}
[class="where-clause-field textarea" ] {
  heigh:100px ;
}
textarea {
  height: 150px;
}

[class="rdtPicker" ] {
    margin-right: 0px;
    right: 5px;
}
